unsloth
torch
torchvision
torchaudio

transformers>=4.45.0
datasets
trl
accelerate
bitsandbytes
peft

sentencepiece
protobuf

numpy
pandas
scikit-learn
tqdm

huggingface_hub
safetensors

ipywidgets
jupyter
notebook
matplotlib